<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href={{ url_for('static', filename='favicon.ico')}} type="image/x-icon">
    <link rel="stylesheet" href={{ url_for('static', filename='bootstrap-4.6.0-dist/css/bootstrap.css')}} type="text/css">
    <link rel="stylesheet" href={{ url_for('static',
    filename='DataTables/DataTables-1.10.23/css/dataTables.bootstrap4.min.css') }} type="text/css">
    <script src={{ url_for('static', filename='jquery-3.5.1.js')}}></script>
    <script src={{ url_for('static',
    filename='DataTables/dataTables.min.js') }}></script>
    <script src={{ url_for('static',
    filename='DataTables/DataTables-1.10.23/js/dataTables.bootstrap4.min.js') }}></script>
    <title>Oops !</title>
  </head>
  <body>
    <style>
      .fill-height{
        position: relative;
        min-height: 100%;
        height:100vh;
      }

      #hello{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /*white text*/
        font-weight: bold
      }
    </style>
    
    <div class="container">
      <div class="row text-center fill-height">
          <div class="col-md-12">
              <div id = "hello" class="error-template">
                  <h1>
                      Oops!</h1>
                  <h2>
                    Incorrect file extension</h2>
                  <div class="error-details">
                    Only supports files with extensions bib, xml and RIS
                  </div>
                  <BR></BR>
                  <div class="error-actions">
                      <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                          Take Me Home </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </body>
</html>
